.h1 {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 600px;
    color: blue;
}

.p {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 600px;
    color: aqua;
}